body {
  margin: o;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #000000e0;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  transition: 0.7s;
  transition-delay: calc(var(--i) * 0.1s);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.btn-container {
  position: relative;
  width: 80%;
}

.btn {
  position: absolute;
  bottom: -80px;
  background: crimson;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
}

#prev {
  left: 20%;
}

#next {
  right: 20%;
}

.btn:hover {
  filter: brightness(1.7);
}
