* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 40%;
    height: 35%;
    background: #1c1c1cbe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
}

.container input {
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 80%;
    outline: none;
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: transparent;
    background-color: crimson;
    margin-top: 50px;
    width: 150px;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    filter: brightness(1.2);
}

.background-image {
    background-image: url('https://images.unsplash.com/photo-1542640244-7e672d6cef4e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -20px;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    filter: blur(20px);
}