* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1523293836414-f04e712e1f3b?q=80&w=1003&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .5s linear;

  /* js */

  opacity: 0;
}

input {
  outline: none;
  background: none;
  border: none;
  width: 90%;
  padding: 10px 20px;
  font-size: 16px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.eye-container {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex;
  align-items: center;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon {
  font-size: 20px;
  color: #777;
  transition: 0.2s ease;
}

.eye-icon:hover {
  color: rgba(0, 0, 0, 0.836);
  transition: color 0.2s linear;
}
